<div id="project-header" >
  <h1>Mes projets <span>web</span></h1>
</div>
<div id="projects">
  <% @projets.each do  |projet| %>
    <% if projet.id.even? %>
      <div class="projet">
        <div class='projet-left-photo'>
          <%= cl_image_tag projet.photo.key %>
        </div>
        <div class="projet-right-info">
          <h2><%= projet.name %></h2>
          <p class='date'><%= projet.date %></p>
          <p class="description"><%= projet.description %></p>
          <p class='hebergement'><b>App hébergée sur : </b><%= projet.host %></p>
          <p><b>Database :</b> postgresql</p>
          <p><b>Stack : </b></p>
          <ul class='stack'>
            <% projet.stack.each do |s| %>
              <li><%= s %> </li>
            <% end %>
          </ul>
          <a href="<%= projet.url %>" target='blank' class='btn'>VISITER L'APP</a>
        </div>
      </div>
    <% else %>
      <div class="projet">
        <div class='mob-photo'>
          <%= cl_image_tag projet.photo.key %>
        </div>
        <div class="projet-left-info">
          <h2><%= projet.name %></h2>
          <p class='date'><%= projet.date %></p>
          <p class="description"><%= projet.description %></p>
          <p class='hebergement'><b>App hébergée sur : </b><%= projet.host %></p>
          <p><b>Database :</b> postgresql</p>
          <p><b>Stack : </b></p>
          <ul class='stack'>
            <% projet.stack.each do |s| %>
              <li><%= s %> </li>
            <% end %>
          </ul>
          <a href="<%= projet.url %>" target='blank' class='btn'>VISITER L'APP</a>
        </div>
        <div class='projet-right-photo'>
          <%= cl_image_tag projet.photo.key %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
