<div id="home-header">
  <div class ="info-left">
    <p>Bonjour, je suis</p>
    <div class="title">
      <h1> Auriane Grégoire</h1>
    </div>
    <h2>Je suis Fullstack developpeuse</h2>
    <div class='lang-head'>
      <%= cl_image_tag("rails_qg59oc") %>
      <%= cl_image_tag("RUBY_wfuhrq") %>
      <%= cl_image_tag("js_uoiccw") %>
      <%= cl_image_tag("sql_qidann") %>
      <%= cl_image_tag("css_blof29") %>
      <%= cl_image_tag("html_opud0k") %>
    </div>
  </div>
  <div class='photo-right'>
    <%= cl_image_tag("auriane-green_eip0bs") %>
  </div>
</div>