<div id="home-header">
  <div class ="info-left">
    <p>Bonjour, je suis</p>
    <div class="title">
      <h1> Auriane Grégoire</h1>
    </div>
    <h2>Je suis Fullstack developpeuse</h2>
    <div class='lang-head'>
      <%= cl_image_tag("rails_qg59oc") %>
      <%= cl_image_tag("RUBY_wfuhrq") %>
      <%= cl_image_tag("js_uoiccw") %>
      <%= cl_image_tag("sql_qidann") %>
      <%= cl_image_tag("css_blof29") %>
      <%= cl_image_tag("html_opud0k") %>
    </div>
  </div>
  <div class='photo-right'>
    <%= cl_image_tag("auriane_tb2aww") %>
  </div>
</div>
<div class="projects">
  <% @projets.each do  |projet| %>
    <% if projet.id.even?%>
      <div class="projet">
        <div class='projet-left-photo'>
          <%= cl_image_tag("adventureplanner_uuapnp") %>
        </div>
        <div class="projet-right-info">
          <h2><%= projet.name %></h2>
          <p class="description"><%= projet.description %></p>
          <%= link_to "EN SAVOIR PLUS", projets_path, class:'btn' %>
        </div>
      </div>
    <% else %>
      <div class="projet">
        <div class='mob-photo'>
          <%= cl_image_tag("cocktail-code_rlgkhy") %>
        </div>
        <div class="projet-left-info">
          <h2><%= projet.name %></h2>
          <p class='date'><%= projet.date %></p>
          <p class="description"><%= projet.description %></p>
          <%= link_to "EN SAVOIR PLUS", projets_path, class:'btn' %>
        </div>
        <div class='projet-right-photo'>
          <%= cl_image_tag("cocktail-code_rlgkhy") %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class='btn-box'>
<a class="btn-test" href="https://www.google.com/search?q=coucou&rlz=1C1GCEA_enFR945FR945&oq=coucou&aqs=chrome..69i57j0i30l7j0i30i457j0i30.2544j0j7&sourceid=chrome&ie=UTF-8">coucou</a>
</div>