<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio d'auriane gregoire</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="icon" type="image/png" href="https://uc94e1321211949a48aa63487060.previews.dropboxusercontent.com/p/orig/ABIIYFsp6JYFc6IB4u19j4j2qpwvxr6dgbdk5GA4GkUcKskGSoNTzfAy54oZO7kp-V2MaXxg50BUgRBPoy9Qua7PSKYbw0jB6kudCRjloPCYtZ9SpvvXm82dXbZ8XYWLKpDy3-l6j-gMtM3xUY3kRAW1zmV3pcvHihJAdiEUKQu5UJ3GUo-O6IivZCQ43P7q6MMrLG0heeDZfhWOpbLd1wH_bgaHnZh5KFEAMWRtSySed7MKSFK52txrMjQtodKt9gVlRzytN3Y4pOwWM9I89P3IADe9o1EQXxdsUptJ6Z8NElrBCVgQ1Lkitkh6OEZDREMNdPbw3-3Dv3K8j89Io3eLb6mVmAH-R0D8tYKuVZ3ETtlr5mLUFMu0jod5a9SIztnKY4Tq_aNpsHPTE6M5XVfzPhRgY7D7k12HSBek5kULHQ/p.svg?fv_content=true&size_mode=5" />
    <meta name="description" content="Découvrez le portfolio d'Auriane Grégoire, fullstack dévelppeuse web spécialisée en Ruby on rails.">

    <meta property="og:title" content="Portfolio d'auriane gregoire">
    <meta property="og:image" content="https://previews.dropbox.com/p/thumb/ABLq8gKOiyoHiVJHvcBwtHLadwxTsXL4KmDvRPaVnOsTnwq3hM8QSA1CKQaRuRiJXTw4939JImTPoXa-fP9yKKlyvUJqoiJfkRJjFc5c4bx8uCIjXN9t6mCcec-mgDwPDbNI_cAmoVnSdrCF3EI1OmWTbrji1eOifNY3rSezc-xk2QyHRC2eMRDQiGVYEVX7-HPphH6AQz9soaUJMwAZVfPgn8gtEg0BNmReR6QXlWI1UckpQRVDCoBHp3hpYvTiXYgveHaD0QyIj7hkUZL7mDpyGeOQLlVxf61aYSGtlHTOhpT5F11zFV2h3-CRUJ7Oi_43vDPBnL1uDQCaN5fQcj1oGDMMVUUhp6FQX-S8FxUQrB5EJxMxKfD2cGsqBP14tK4/p.png?fv_content=true&size_mode=5">
    <meta property="og:description" content="écouvrez le portfolio d'Auriane Grégoire, fullstack dévelppeuse web spécialisée en Ruby on rails.">
    <meta property="og:url" content="http://www.auriane-gregoire.com/">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>
  </body>
</html>
