<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio d'auriane gregoire</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="icon" type="image/png" href="https://res.cloudinary.com/ddw7wju1q/image/upload/v1617729806/flaticon_zb59xm.svg" />
    <meta name="description" content="Découvrez le portfolio d'Auriane Grégoire, fullstack dévelppeuse web spécialisée en Ruby on rails.">

    <meta property="og:title" content="Portfolio d'auriane gregoire">
    <meta property="og:image" content="https://res.cloudinary.com/ddw7wju1q/image/upload/v1617729806/meta-img_k6esyt.png">
    <meta property="og:description" content="écouvrez le portfolio d'Auriane Grégoire, fullstack dévelppeuse web spécialisée en Ruby on rails.">
    <meta property="og:url" content="http://www.auriane-gregoire.com/">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>
  </body>
</html>
